.service{
    background-color: white;
    border-radius: 20px 0 20px 0;
    margin: 20px 10px;
    width: 40%;
    gap: 10px;

}
.services, .services ul{
    display:flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
}